<?xml version='1.0' encoding='utf-8'?>
<robot name="manipulator_on_base">
  <link name="world">
    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <mass value="0.000000" />
      <inertia ixx="0.000000e+00" iyy="0.000000e+00" izz="0.000000e+00" ixy="0.000000e+00" ixz="0.000000e+00" iyz="0.000000e+00" />
    </inertial>
  </link>
  <link name="manipulator_on_base">
    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <mass value="0.090000" />
      <inertia ixx="3.000000e-05" iyy="3.000000e-05" izz="5.400000e-05" ixy="-0.000000e+00" ixz="-0.000000e+00" iyz="-0.000000e+00" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/manipulator_on_base.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/manipulator_on_base.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
  <joint name="manipulator_on_base_fixed" type="fixed">
    <parent link="world" />
    <child link="manipulator_on_base" />
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000" />
  </joint>
</robot>